<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>USA Housing Listings - Rentals - Analysis</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
  </div>
    <select name="city" id="citySelector">
    <option value="CITY">CITY</option>
    <option value="CAPITA">CAPITA</option>
    <option value="WEATHER">WEATHER</option>
    <option value="CRIME">CRIME</option>
    </select>
    <input type="submit" onclick="updatecityStat()">

  </div>



  <script src="/js/data_analysis.js"></script>
  <br>
  <img src="/img/Log Price.png">
  <img src="/img/Price per Sqft vs Avg Annual Rainfall.png">
  <img src="/img/Price per Sqft vs Density.png">
  <img src="/img/Price per Sqft vs Highest Monthly Avg High Temp.png">
  <img src="/img/Price per Sqft vs Listings per 1k Capita.png">
  <img src="/img/Price per Sqft vs Lowest Monthly Avg High Temp.png">
  <img src="/img/Price per Sqft vs Price per Sqft vs % Water.png">
  <img src="/img/Price per Sqft vs Per_Capita_Income_2020.png">
  <img src="/img/Price per Sqft vs Property Crime Rate.png">
  <img src="/img/Price per Sqft vs U.S. News Overall Score.png">
  <img src="/img/Price per Sqft vs Violent Crime Rate.png">
  <img src="/img/Price per sqft.png">
  <br>
  <div>
    <a href="http://localhost:5000">Back</a>
  </div>


</body>
</html>
