<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USA Housing Listing Rentals</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
    <h1>USA Housing Listings - Rentals</h1>
    <h2>Proposal: The aim of our project is to uncover patterns in the 12 of the top largest cities by population to
        uncover correlations between rental prices to income. We will examine relationships > between city population
        and
        income capita, income capita to rental prices, rental prices to city population > over a snapshot of the year
        2020.
    </h2>
    <div id="hypothesis">
        <h3>Hypothesis</h3>
        <ul>
            <li>Between city population and income capita -> Larger the city, income capita will be more.</li>
            <li>Income capita to rental prices -> If the income of the population is high, then the rental prices will
                also be higher.</li>
            <li>Rental prices to city population -> Rental prices will be the highest in the cities with the highest
                population.</li>
        </ul>
    </div>
    <br>
    <div id="text3">
        Resources: Working with 3 .CSV files and one excel file.
        <ul>
            <li>Census_data.csv</li>
            <li>Final_data.csv</li>
            <li>Housing_majors.csv</li>
            <li>Income_data.xlsx</li>
        </ul>
    </div>

    <div class="project-link">
        <a href="https://github.com/ski2488/Project.3.git">GitHub Repo</a>
    </div>

    <div class="deeplink">
        <a href="https://www.kaggle.com/datasets/austinreese/usa-housing-listings">Data Source 1</a>
    </div>
    
    <div id="links to pages">
        <h2><a href ="http://localhost:5000/search">Search</a></h2>
        <h2><a href="http://localhost:5000/data_analysis">Data Analysis</a></h2>
    </div>



</body>

</html>